$primary-color: #f1ac3c;
$secondary-color: #040404;
$background-color: #331907;
$text-color: #ffffcc;

$primary-font: 'skautbold';
$secondary-font: 'banda_regularregular';

$desktop-breakpoint-height: 825px;
$desktop-breakpoint-width: 1147px;
$laptop-breakpoint-height: 824px;
$laptop-breakpoint-width: 1146px;
$tablet-breakpoint-height: 730px;
$tablet-breakpoint-width: 700px;
$mobile-breakpoint-height: 640px;
$mobile-breakpoint-width: 360px;

$item-width: 250px;
$item-height: 230px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-coordinate-X($breakpoint-width) {
  @if $breakpoint-width == 1146px {
    @return $item-width - 85px;
  } @else if $breakpoint-width == 700px {
    @return $item-width - 128px;
  } @else if $breakpoint-width == 360px {
    @return $item-width - 170px;
  } @else {
    @return $item-width - 50px;
  }
}

@function set-coordinate-Y($breakpoint-height) {
  @if $breakpoint-height == 824px {
    @return $item-height - 40px;
  } @else if $breakpoint-height == 730px {
    @return $item-height - 90px;
  } @else if $breakpoint-height == 640px {
    @return $item-height - 139px;
  } @else {
    @return $item-height;
  }
}
