.grid-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hex-grid {
  position: relative;
  width: $item-width * 1.3;
  height: $item-height * 1.8;
  margin: 0;

  &__item {
    text-align: center;
    position: absolute;
    max-width: $item-width - 160px;
    max-height: $item-height - 160px;

    .container {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      width: $item-width - 160px;
      height: $item-height - 160px;
    }

    .form {
      font-size: 0.6rem;
    }
  }

  &__img {
    width: 100%;
  }

  &__title {
    text-transform: uppercase;
    font-family: $primary-font;
    color: $primary-color;
    font-size: 0.7rem;
  }
}

.hex-img {
  display: none;
}

@media (min-width: $sm-breakpoint-width) {
  .hex-grid {
    width: $item-width * 1.7;
    height: $item-height * 2.5;
    margin: 0;

    &__item {
      max-width: $item-width - 130px;
      max-height: $item-height - 130px;

      .container {
        width: $item-width - 130px;
        height: $item-height - 130px;
      }

      .form {
        font-size: 0.8rem;
      }
    }

    &__title {
      font-size: 1rem;
    }
  }
}

@media (min-width: $md-breakpoint-width) {
  .hex-grid {
    width: $item-width * 2.6;
    height: $item-height * 2.1;
    &__item {
      max-width: $item-width - 100px;
      max-height: $item-height -100px;

      .container {
        width: $item-width - 100px;
        height: $item-height - 100px;
      }

      .form {
        font-size: 1rem;
      }
    }

    &__title {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: $lg-breakpoint-width) {
  .hex-grid {
    width: $item-width * 2.9;
    height: $item-height * 2.4;

    &__item {
      max-width: $item-width - 80px;
      max-height: $item-height - 80px;

      .container {
        width: $item-width - 80px;
        height: $item-height - 80px;
      }

      .form {
        font-size: 1.2rem;
      }
    }

    &__title {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: $xl-breakpoint-width) {
  .hex-grid {
    width: $item-width * 3.5;
    height: $item-height * 2.8;

    &__item {
      max-width: $item-width - 50px;
      max-height: $item-height - 50px;

      .container {
        width: $item-width - 50px;
        height: $item-height - 50px;
      }

      .form {
        font-size: 1.3rem;
      }
    }

    &__title {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-height: $xl-breakpoint-height) {
  .hex-grid {
    width: $item-width * 4.3;
    height: $item-height * 3.5;

    &__item {
      max-width: $item-width;
      max-height: $item-height;

      .container {
        width: $item-width;
        height: $item-height;
      }

      .form {
        font-size: 1.3rem;
      }
    }

    &__title {
      font-size: 1.5rem;
    }
  }
}
