.password {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: default;

  &__container {
    background-image: url('../img/hexagon_form_transparent.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 18rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 12rem;
    justify-content: space-between;

    label {
      font-size: 2rem;
    }

    input {
      padding: 0.5rem;

      &:focus {
        background-color: $text-color;
      }
    }
  }

  &--invalid {
    margin-top: 2rem;
    visibility: hidden;
    text-align: center;
  }
}
