@import 'config', 'fonts', 'hex-grid', 'content', 'coordinates';

body {
  font-family: $secondary-font;
  background-color: $background-color;
  cursor: url('../img/bee.png'), auto;
  animation: transitionIn 0.75s;
  color: $text-color;
}

h1 {
  font-size: 4.5rem;
  font-family: $primary-font;
}

p {
  font-size: 1.5rem;
}

.grid-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
