@import 'config', 'fonts', 'hex-grid', 'content', 'coordinates', 'password';

body {
  font-family: $secondary-font;
  background-color: $background-color;
  cursor: url('../img/bee.png'), auto;
  animation: transitionIn 0.75s;
  color: $text-color;
}

h1 {
  font-size: 4.5rem;
  font-family: $primary-font;
}

p {
  font-size: 1.5rem;
}

button {
  font-family: $secondary-font;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: transparent;
  border: 3px solid $primary-color;
  color: $primary-color;
  padding: 0.5rem 1.5rem;
  @include transition-ease;

  &:hover {
    background-color: $primary-color;
    color: $background-color;
    cursor: pointer;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
